
{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">TWT-CART...</h1>

      <p>TWT-CART... Pvt Ltd. is an e-commerce company based in Bengaluru, India. Founded by Sachin Bansal and Binny Bansal in 2007, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

          The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal.[5][6] as of March 2017, TWT-CART... held a 39.5% market share of India's e-commerce industry.[7] TWT-CART... is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] TWT-CART... also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI)..</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4">
        <h2>Acquisition by Walmart</h2>
        <p>On 4 May 2018, it was reported that the US retail chain Walmart had won a bidding war with Amazon to acquire a majority stake in TWT-CART... for US$15 billion.[54][55] On 9 May 2018, Walmart officially announced its intent to acquire a 77% controlling stake in TWT-CART... for US$16 billion, subject to regulatory approval.[56] Following the proposed purchase, TWT-CART... co-founder Sachin Bansal left the company, while the remaining management now report to Marc Lore, CEO of Walmart eCommerce US.[57] Walmart president Doug McMillon cited the "attractiveness" of the market, explaining that their purchase "is an opportunity to partner with the company that is leading transformation of eCommerce in the market".[58][59] Indian traders protested against the deal, considering the deal a threat to domestic business.[60]

In a filing with the U.S. Securities and Exchange Commission on 11 May 2018, Walmart stated that a condition of the deal prescribed the possibility that TWT-CART...'s current minority shareholders "may require TWT-CART... to effect an initial public offering following the fourth anniversary of closing of the Transactions at a valuation no less than that paid by Walmart".[61][62]

Following the announcement of Walmart's deal, eBay announced that it would sell its stake in TWT-CART... back to the company for approximately US$1.1 billion, and re-launch its own Indian operations. The company stated that "there is huge growth potential for e-commerce in India and significant opportunity for multiple players to succeed in India's diverse, domestic market."[49] Softbank Group also sold its entire 20% stake to Walmart, without disclosing terms of the sale.[63]

The acquisition was completed on 18 August 2018. Walmart also provided US$2 billion in equity funding to the company.[64][65]

On 13 November 2018, TWT-CART... CEO Binny Bansal resigned, after facing an allegation of "serious personal misconduct". Walmart stated that "while the investigation did not find evidence to corroborate the complainant's assertions against Binny, it did reveal other lapses in judgment, particularly a lack of transparency, related to how Binny responded to the situation.></p>
      </div>
      <div class="col-md-4">
        <h2>Criticism</h2>
        <p>On 13 September 2014, a TWT-CART... delivery boy allegedly molested a housemaid in Hyderabad.[109] The house maid's employer has been fighting against TWT-CART... for justice on this issue, and also for making offline delivery services safe.[110]

In 2014, competitors such as Future Group (owner of retail chain Big Bazaar) filed complaints with India's Ministry of Commerce and Industry, alleging that the site's Big Billion Days discounts undercut prices in a manner predatory to other retailers. The ministry stated that it would look into the complaints.[111][112][113][114]

In April 2015, TWT-CART... faced criticism for being a launch partner in the Airtel Zero program, alleging that the zero-rating scheme violated the principles of net neutrality. TWT-CART... later pulled out.[115]

In 2015, around 400 delivery executives working with eKart, the logistics arm of TWT-CART..., went on strike to protest poor working conditions. Complaints included seven-day workweeks, extended hours, lack of clean toilets and medical assistance for bike riders involved in accidents.[116] In 2016, delivery executive Nanjunda Swamy was murdered by a customer who did not have money to pay for a product.[117] In response, TWT-CART... launched a safety initiative -'Project Nanjunda', named after the deceased executive. This included an SOS button in the mobile app (called the Nanjunda button) that could be used by field executives in cases of emergencies.[118]

Sellers on TWT-CART... have been facing several challenges while doing business on its marketplace, to the extent that some of them have had to quit the portal. Some of these challenges include TWT-CART...s unfair policies towards sellers, lack of a competent logistics service, and customer returns that are purely as a result of consumer fraud.</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
{% block js %}{% endblock %}



